@media (max-width: 720px){
    #menu .row{
        width: 100%;
        left: 15px;
        height: 80px;
    }
    .live_text{
        font-size: 15px;
    }
    #myModal .modal-dialog{
        margin: 2.5rem !important;
    }
    .flex.course_cards{
        display: none ;
    }
    .flex.course_cards.d-sm-flex{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .videoMainer{
        margin-top:25px;
    }
    .flex.course_cards h4{

    }
    .online_translation_one{
        width: 100% !important;
    }
    .card.purchases{
        margin-left: 15px;
        margin-right: 15px;
    }
    .table.table-striped{
        width: 100%;
    }

    .flex.course_cards .card.purchases{
        min-width: 90%;
    }
    .seven_div{
        padding-top: 20px !important;
        padding-left: 20px !important;
        height: auto !important;
    }
    .play{
        display: flex;
        justify-content: center;
        margin:10px 15px !important;
    }
    .mainer .tabs_panel{
        width: 100%;
        height: 40px;
        margin: 20px 0px;
    }
    .online_translation {
        margin: 0px 15px;
    }
    .mainer{
        margin: 0px 15px;
    }

    .online_translation div{
        width: 100% !important;
    }
    .mainer button{
        width: auto !important;
    }
    .text-center.ml-auto button{
        margin-bottom: 20px;
        font-size: 14px;
    }
    .seven{
        padding-left: 0px;
        padding-top: 0px;

    }
    .seven>div.seven_div{
        padding-left: 25px;
        padding-top: 20px;
        border-radius: 10px !important;
    }
    #search{
        padding-left: 0px;
        padding-right: 0px;
    }
    .kenopka button{
        width: 100%;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        padding: 5px 10px;
        height: auto;
    }
    .col-lg-12 input{
        width: 100%;
    }
    .kenopka{
        margin-left: 10px;
    }
    .text p {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        height: auto;
        line-height: 15px;
        width: auto;

    }
    #suck{
        padding-right: 0px;
    }
    .lik span{
        font-size: 12px;
    }
    #suck .text h6{
        width: auto;
        font-family: Roboto;
        font-weight: 700;
        margin-bottom: 0px;
        font-size: 14px;

    }
    #title{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #title h1{
        width: 100%;
    }
    #suck .text{
        margin-left: 20px;
    }
    .face img{
        width: 49px;
        height: 49px;
    }
    .type{
        width: 100%;
        justify-content: flex-start;
    }
    .intypes input{
        width: 100%;
    }
    #fluid .intypes{
        display: block;
    }
    .ip input, .too input{
        width: 18px;
    }
    .touch .container{
        max-width: 100% !important;
    }
    .choice{
        flex-direction: row;


    }
    .choice .play{
        width: 50%;
        height: auto;
    }

    .choice .course{
        width: 50%;
        height: 150px;


    }
    .lessons{
        padding-left: 15px;

    }

    .col-lg-4 .face{
        width: 96px;
        height: 96px;
    }
    #i8{
        padding-left: 15px;
    }
    .info p{
        width: 65%;
        margin-bottom: 15px;
        height: auto;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
    }
    .public{
        padding-left: 15px;

    }
    .public .row{
        overflow-x: auto;
        padding-right: 45px;
    }
    .count .col-6{
        height: 200px;

    }
    .count .col-6 img{
        height: auto;

    }
    .flex .seven{
        width: 180px;
        background-size: cover;
        height: auto;
        padding-bottom: 50px;

    }

    .editer .row .col-lg-5.col-5{
        padding-left:20px;
    }
    .editer .row .col-lg-7.col-7{
        padding-right: 20px;
    }
    .col-lg-4.col-7 img{
        height: 250px;
        width: 100%;
    }
    .col-5,.col-7{
        height: 260px;
    }
    #loop img{
        width: 100%;
        height: 120px;
    }
    #loop img:nth-child(3),#loop img:nth-child(4){
        display: none;
    }
    .count .col-lg-4{
        height: auto;
    }

    .flex{
        padding-right: 15px;
    }
    .public .col-lg-12 h3{
        height: auto;
        font-size: 16px;
        padding-top: 0px;
    }
    .public .col-lg-12 h2{
        height: auto;
        font-size: 16px;
        padding-top: 0px;


    }
    .flex .seven p{
        width: auto;
        height: auto;
    }
    .info h1{
        font-size: 20px;
    }
    .info span{
        font-size: 16px;

    }
    .info h1{
        width: auto;
    }
    .info button{
        width: 65%;
    }
    .infosub{
        position: relative;
        left:-32%;
    }
    .choice button p{
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
    }
    .choice button img{
        width: 40px;
        height: 40px;
    }

    .row .col-6{
        max-width: 48%;
        padding: 10px;
    }
    .col-lg-3.col-6 p{
        height: auto;
    }
    .col-lg-3.col-6{
        height: auto;
    }
    #menu a img{
        width: 25px;
        height: 25px;
    }
    .course_author img{
        width: 25px;
        height: 25px;
    }
    .modal-dialog{
        margin: .5rem !important;
    }
    .modaler input , .modaler select{
        margin-bottom: 20px;

    }
    .container.container_course{
        padding-bottom: 50px !important;
    }
    .choice .play{
        margin: 0px 10px !important;
    }

}
@media (min-width: 721px) {

    .course_author img{
        width: 50px;
        height: 50px;
    }
    .course_author{
        margin-right: 50px;
    }
    .modal-footer .d-flex{
        justify-content: flex-start;
    }


}
.course_cards .card.purchases{
    padding:9px 13px;
    background: rgba(0, 148, 232, 0.4);
    width: 32%;
}
.flex.course_cards{
    padding-right: 0px;
}
.course_cards .card:nth-child(2){
    background: rgba(232, 83, 0, 0.4);
}
.course_cards .card:nth-child(2) .circle_blue{
    background: #E85300;

}
.course_cards .card:nth-child(3){
    background: rgba(88, 0, 232, 0.4);

}
.course_cards .card:nth-child(3) .circle_blue{
    background: #5800E8;
}

.card.purchases .circle_blue{
    width: 34px;
    height: 34px;
    background: #0094E8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.course_cards .card h6 a{
    font-size: 20px;
    line-height: 23px;
    text-decoration: underline;
    color:#000;
}
.course_cards .card h3{
    font-size: 33px;
}
.container_course{
    background-color:transparent;
}
.container.container_course{
    padding-bottom: 150px ;
}
.mainer{
    display: flex;

    padding-right: 15px;
    flex-wrap: wrap;
}
.info span{
    width: 70%;
}
.info h1{
    height: auto !important;
}
.mainer .tabs_page .col-lg-4{
    margin-top: 25px;
}
.mainer button.btn.btn-primary{
    width: 25%;
}
.tabs_panel div{
    font-size: 27px;
    line-height: 33px;
    font-weight: bold;
    margin-right: 36px;
    width: 100%;



}

.tabs_page{
    width: 100%;
}

.tabs_panel{
    display: flex;
    width: 65%;
    border-radius: 5px;
    border: 1px solid #eee;

    font-weight: 400;
    padding-left: 5px;

    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
}



.online_translation div{
    background: #3B3B3B;
    height: 248px;
    border-radius: 6px;
    padding-bottom: 30px;
    padding-top: 44px;
    width: 411px;
}
.play button.btn-primary.btn{
    width: 100%;
}
.tabs_page{
    display: none;

}
.tabs_page.active{
    display: block;
}
.profile-avatar{
    border-radius: 50%;
}
.face{
    background-image: none !important;
}

.seven{
    padding-left: 0px;
    padding-top: 0px;
    height: 240px !important;
    background-position: center center;
}
.seven span{
    height: auto;
}
.eye{
    height: auto;
    position: absolute;
    bottom:0px;
    right: 0px;
}
.seven>div.seven_div{
    padding-left: 25px;
    padding-top: 30px;
    padding-right: 10px;
    height: 100% !important;

    border-radius: 10px !important;
}
#choche h2{
    font-size: 1.7rem;
}
.seven_div button{
    position: absolute;
    left:20px;
    bottom: 50px;
}
.infosub .friends{
    cursor: pointer;
}
.videoMainer{
    width: 100%;
    height: 300px;
    border-radius: 10px ;
    margin-left: 15px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 15px;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.videoMainer>div >a {
    color: #fff !important;

}

.videoMainer> div{
    border-radius: 10px;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0px 15px 15px;
    align-items: flex-end;
    height: 100%;
}

@media (min-width: 1500px) {
    #i8{
        padding-right: 15%;
    }

}

.info h1{
    width: auto;
}

.modal-dialog{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (.5rem * 2));
}
.modal-backdrop.show{
    opacity: .7 !important;
}
video{
    background-color: #000;
}
.mainer .modal-body{
    padding:0px !important;
}
#notView{
    display: none;
}

.icon_add{
    width: 30px;
    margin-right: 23px;
    height: 30px;
}
.paper{
    width: 23px;
    height: 23px;
}
.send_message_button{
    width: 179px !important;
}
.icon_add:hover{
    cursor: pointer;

}

#myModal1 h5{


    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;

    color: #000000;
    margin-bottom: 14px;

}
#myModal1 .modal-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#myModal1 img{
    width: 77px;
    height: 77px;
}
#myModal1 h4{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;

    color: #000000;

}
#myModal1 .modal-header{
    padding:0px !important;
}

